
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wilson Index</title>
</head>
<body>
    <h1>Olá Wilson</h1>
    <p>@DateTime.Now</p>
    <p>@DateTime.IsLeapYear(2022)</p>
</body>
</html>
