


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>

    <h5>Cadastro de Evento</h5>
    <p>Preencha os campos para criar um evento em sua agenda.</p>
    <hr/>

    <div class="row mb-3">
         <div class="="col-md-6>
            <label>Nome do evento: </label>
            <input type="text" class="form-control"/>
        </div>
         <div class="="col-md-6>
            <label>Data do evento: </label>
            <input type="date" class="form-control"/>
        </div>
         <div class="="col-md-6>
            <label>Hora do evento: </label>
            <input type="time" class="form-control"/>
        </div>
        <div class="="col-md-6>
            <label>Descrição do evento: </label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="="col-md-3>
            <label>Prioridade do evento: : </label>
            <select class="form-select">
                <option>Baixa</option>
                <option>Média</option>
                <option>Alta</option>
            </select>
        </div>

    </div>

    <div class="row mb-3">
        <div>
           <button class="btn btn-primary" type="submit">Cadastro</button>
        </div>
    </div>
</body>
</html>
