<h5>Relatório de Eventos</h5>
<p>
    Preencha os campos para gerar um relatório com seus eventos.
</p>
<hr/>

<form>

    <div class="row mb-3">
        <div class="col-md-3">
            <label>Data de início:</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Data de término:</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-6">
            <label>Tipo do Relatório:</label> <br/>
            <input type="radio" name="tipo"/> Formato PDF <br/>
            <input type="radio" name="tipo"/> Formato Excel
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" value="Gerar Relatório" 
            class="btn btn-primary" />
        </div>
    </div>

</form>
@*@section Scripts
    {
    <script>

        let table = new DataTable('#myTable');
    </script>


}*@